body{
    font-family: 'Open Sans', sans-serif;
}
/* SIGN IN FORM */
.form-signin {
    border: 1px solid #eee;
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin input[type='email'], input[type='password'], input[type='text'] {
    height: 45px;
}

.form-signin h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    font-weight: lighter;
}
.form-signin p {  
    font-weight: lighter;
}

.badge-friend {
    background-color: red;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    min-width: 8px;
    padding: 3px 5px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 11px;
    vertical-align: middle;
    white-space: nowrap;

}
.status-option-dropdown {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);   
    float: left;
    font-size: 14px;
    list-style: outside none none;
    margin: 2px 0 0;
    left:auto !important;
    min-width: 100px;
    padding: 5px 0;
    position: absolute;
    right: 0 !important;
    text-align: right;
    top: 100%;
    z-index: 1000;

}

.reply-inline {
    display: inline;
}
.grey {
    color: #c0c0c0;
}
.grey:hover{
    color: #337ab7;
}

/* PROFILE IMAGE */
.image-box {
    width:200px;
    position:relative;
    overflow: hidden; 
}
.image-box img {
    max-width: 100%; 
    height: auto;
    display: block; /* added this */
}
.image-box a {
    position:absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index:2;
    cursor: pointer;
}
.image-box .image-overlay{
    opacity:0;
    position:absolute;
    color: #fff;
    background: rgba(141, 178, 215, 0.77);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    text-align:center;
    font-size:40px;
    line-height: 200px;  /* added this */
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    z-index:1;
}

.image-box:hover .image-overlay{
    opacity:1;
}