body{
    font-family: 'Open Sans', sans-serif;
}
/* SIGN IN FORM */
.form-signin {
    border: 1px solid #eee;
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin input[type='email'], input[type='password'], input[type='text'] {
    height: 45px;
}

.form-signin h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    font-weight: lighter;
}
.form-signin p {  
    font-weight: lighter;
}

.status-option-dropdown {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);   
    float: left;
    font-size: 14px;
    list-style: outside none none;
    margin: 2px 0 0;
    left:auto !important;
    min-width: 100px;
    padding: 5px 0;
    position: absolute;
    right: 0 !important;
    text-align: right;
    top: 100%;
    z-index: 1000;
}
